body{
    background-color: white;
}

div{
   
    display: block;
   
    margin: auto;
    background-color: red;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 20px;
}
section :nth-child(1){
    background-color: green;
    width: 960px;
    height: 100px;
}



section :nth-child(2){
    float: left;
    height: 600px;
    width: 200px;
    background-color: teal;
}
/* section :nth-child(2) ::after{
    
    content: '';
    clear: both;
    display: table;
} */


section :nth-child(3){
    float: left;
    width: 370px;
    height: 200px;
    /* line-height: 200px; */
}
section :nth-child(4){
    float: right;
    width: 367px;
    height: 200px;
    /* line-height: 200px; */
}



section :nth-child(5){
    width: 180px;
    height: 250px;
    float: left;

}
section :nth-child(6){
    width: 180px;
    height: 250px;
    float: left;

}
section :nth-child(7){
    width: 180px;
    height: 250px;
    float: left;

}
section :nth-child(8){
    width: 180px;
    height: 250px;
    float: left;

}
section :nth-child(9){
    width: 737px;
    height: 150px;
    float: right;

}


/* section :nth-of-type(odd){
    background-color: white;
} */
